<div class= "homepage-banner">
<%= render 'shareds/navbar' %>
  <div class="container">
    <h1><span class = "essam">Essam</span> <span class = "dawood">Dawood</span></h1>
    <h3>Full-Stack Web Developer</h3>
    <br>
  <div>
  <%= link_to "Check it out", "#", class: "test test1"%>
  </div>
  <div>
  <%= form_tag root_path, class: "banner-search d-flex", method: :get do %>
            <%= text_field_tag :query, params[:query], class: " feast-search", placeholder: "What do you wanna know?" %>
            <%= button_tag "", class: "button-search" %>
<% end %>
</div>
</div>
</div>