<div class= "homepage-banner">
  <%= render 'shareds/navbar' %>
  <div class="container">
    <h1><span class = "essam">Essam</span> <span class = "dawood">Dawood</span></h1>
    <p><span><i class="fas fa-quote-left"></i></span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam qui exercitationem deleniti ab consectetur iusto vero maiores, explicabo dolor commodi <span><i class="fas fa-quote-right"></i></span> "Quote"</p>
    <br>
  <div>
    <%= link_to "Discover me", "#", class: "bttn bttn1" %>
  </div>
  <div>
  <%= form_tag root_path, class: "banner-search d-flex", method: :get do %>
            <%= text_field_tag :query, params[:query], class: " feast-search", placeholder: "What do you wanna know?" %>
            <%= button_tag "", class: "button-search" %>
<% end %>
</div>
</div>
</div>