<div class="cardbg">
  <div class="newcard">
    <%= image_tag "newmf.PNG", width: "100%", height: "200px" %>
    <div class="cardbody">
      <h3>Moveable Feasts</h3>
      <p>
        This is my graduation project. This app acts as a new social connector for hosts and guests to create friendships in more intimate settings through dinner parties.
      </p>
    </div>
    <div class="newcardlink">
      <%= link_to "Check it out", "https://www.moveablefeasts.club/", class: "bttn bttn1 btnbook newmfbtn", target: "_blank" %>
    </div>
  </div>
  <div class="newcard">
    <%= image_tag "metarina.PNG", width: "100%", height: "200px" %>
    <div class="cardbody">
      <h3>Moveable Feasts</h3>
      <p>
        This is my graduation project. This app acts as a new social connector for hosts and guests to create friendships in more intimate settings through dinner parties.
      </p>
    </div>
    <div class="newcardlink">
      <%= link_to "Check it out", "https://www.moveablefeasts.club/", class: "bttn bttn1 btnbook newmfbtn", target: "_blank" %>
    </div>
  </div>
  <div class="newcard">
    <%= image_tag "learnjs.PNG", width: "100%", height: "200px" %>
    <div class="cardbody">
      <h3>Moveable Feasts</h3>
      <p>
        This is my graduation project. This app acts as a new social connector for hosts and guests to create friendships in more intimate settings through dinner parties.
      </p>
    </div>
    <div class="newcardlink">
      <%= link_to "Check it out", "https://www.moveablefeasts.club/", class: "bttn bttn1 btnbook newmfbtn", target: "_blank" %>
    </div>
  </div>
  <div class="newcard">
    <%= image_tag "newbb.PNG", width: "100%", height: "200px" %>
    <div class="cardbody">
      <h3>Moveable Feasts</h3>
      <p>
        This is my graduation project. This app acts as a new social connector for hosts and guests to create friendships in more intimate settings through dinner parties.
      </p>
    </div>
    <div class="newcardlink">
      <%= link_to "Check it out", "https://www.moveablefeasts.club/", class: "bttn bttn1 btnbook newmfbtn", target: "_blank" %>
    </div>
  </div>
</div>