<div class="cardbg">
  <div class="newcard">
    <%= image_tag "newmf.PNG", width: "100%", height: "200px" %>
    <div class="cardbody">
      <h3>Moveable Feasts</h3>
      <p>
        This is my graduation project. This app acts as a new social connector for hosts and guests to create friendships in more intimate settings through dinner parties.
      </p>
    </div>
    <div class="newcardlink">
      <%= link_to "Check it out", "https://www.moveablefeasts.club/", class: "bttn bttn1 btnbook newmfbtn", target: "_blank" %>
    </div>
  </div>
  <div class="newcard">
    <%= image_tag "metarina.PNG", width: "100%", height: "200px" %>
    <div class="cardbody">
      <h3>Metarina</h3>
      <p>
        Metarina is a smart service platform to connect Marinas and Boaters. <br>
        I have worked partely on it's front-end using tailwind CSS library.
      </p>
    </div>
    <div class="newcardlink">
      <%= link_to "Check it out", "https://www.metarina.com/", class: "bttn bttn1 btnbook newmfbtn", target: "_blank" %>
    </div>
  </div>
  <div class="newcard">
    <%= image_tag "learnjs.PNG", width: "100%", height: "200px" %>
    <div class="cardbody">
      <h3>Learn JavaScript</h3>
      <p>
        My favorite JS online course, it's very smooth and easy. <br>
        I worked partely on it's front-end implementing grids and design.
      </p>
    </div>
    <div class="newcardlink">
      <%= link_to "Check it out", "https://learnjavascript.online/", class: "bttn bttn1 btnbook newmfbtn", target: "_blank" %>
    </div>
  </div>
  <div class="newcard">
    <%= image_tag "newbb.PNG", width: "100%", height: "200px" %>
    <div class="cardbody">
      <h3>Book Borrow</h3>
      <p>
        Book Borrow is an app that enables you to borrow and lend out books.<br>Do you have a title you would love to read but you'd rather not buy?<br>
          The idea behind it is to create an intellectual atmospher where people can find and offer books and maybe even create new friendships.
      </p>
    </div>
    <div class="newcardlink">
      <%= link_to "Check it out", "http://bookbookborrow.herokuapp.com/", class: "bttn bttn1 btnbook newmfbtn", target: "_blank" %>
    </div>
  </div>
</div>