<div class="footer-background">
  <div class="contacts container">
    <h2><span class="footer-header">Contact</span></h2>
    <div class="footer-titles">
      <ul>
        <%= link_to "https://github.com/Zangetsu89", target: "_blank" do %>
          <li><i class="fab fa-github-square"></i> GitHub</li>
        <% end %>
        <li><a href="mailto:essam_d@hotmail.com"><i class="far fa-envelope"></i> E-mail</a></li>
        <%= link_to "https://www.linkedin.com/in/essam-dawood-a522a041/", target: "_blank" do %>
          <li><i class="fab fa-linkedin"></i> LinkedIn</li>
        <% end %>  
      </ul>
    </div>
    <%# <div class="footer-details">
      <ul>
        <%= link_to "https://github.com/Zangetsu89", target: "_blank" do 
          <li class="github">github.com/Zangetsu89 <i class="fas fa-external-link-alt"></i></li>
        <% end 
        <li class="email">essam_d@hotmail.com</li>
        <%= link_to "https://www.linkedin.com/in/essam-dawood-a522a041/", target: "_blank" do 
          <li class="linkedin">linkedin.com/in/essam-dawood <i class="fas fa-external-link-alt"></i></li>
        <% end 
      </ul>
    </div> %>
    <%= image_tag "contact.svg", class: "contact-img" %>
  </div>
</div>
