<div class="projects-background">
<h2>My Projects</h2>
<div class="my-grid container">
  <div class="left-grid-img grid-img book-img">
    <%= link_to "http://bookbookborrow.herokuapp.com/", target: "_blank" do %>
      <%= image_tag "BB.PNG", width: "370px", height: "470px" %>
    <% end %>
  </div>
  <div class="project-right-card">
    <div class="project-right-card2">
      <div class="project-right-card3">
        <h4>Book Borrow</h4>
        <div class="project-right-card-p">
        
          <p>More than 5 years ago I came to the Netherlands from Istanbul where I lived for almost 3 years. I come from Alepp, Syria. I left Aleppo after a month of the begining of the war there. <br>
          I worked the past 12 years in Hospitality industry within the most luxiours hotel brands such as Sheraton, W hotels and IHG chain. <br> Later in 2019 I made the decision to do a career switch to Web Development as I was fascinated by the systems and IT in general, so I started self styding from SEP 2019 alongside a full time job and then fulltime self studying since the begining of 2020 till mid July where I 
          </p>
          <div class = "project-card-link">
              <%= link_to "Check it out", "http://bookbookborrow.herokuapp.com/", class: "bttn bttn1", target: "_blank" %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="my-grid2">
  <div class="left-card">
    <h4>Moveable Feasts</h4>
    <div class="left-card-p">
     <p>Moveable Feasts was my graduation project which aims to pair ex-pats, recently moved people, or immigrants with hosts for dinner parties. This app acts as a new social connector for hosts and guests to create frienships in more intimate settings.<br>This app was created on the base of the MVC pattern and the coding languages used are: <span class="icons"><i class="fab fa-html5"></i> <i class="fab fa-css3-alt"></i> <i class="fab fa-js"></i></span>, Ruby as a backend language using Ruby on Rails framework and SQL for the Database using Active Record library. The maps used are from Mapbox, Cloudinary was used to save the uploaded images and of course the fonts used are from Google fonts.</p>
    </div>
    <div>
    <%= image_tag 'Exclude.svg', width: "470px", height: "530px", class: "exclude" %>
    </div>
    <div class = "left-card-link">
    <%= link_to "Check it out", "https://www.moveablefeasts.club/", class: "bttn bttn1", target: "_blank" %>
  </div>
  </div>
  <div class="right-grid-img">
    <div class="grid-img">
    <%= link_to "https://www.moveablefeasts.club/", target: "_blank" do %>
      <%= image_tag "MF.PNG", width: "370px", height: "500px" %>
    <% end %>
    
    </div>
  </div>
</div>

