<div class="skills-background">
  <div class="container skills">
  <h2><span>My Tools</span></h2>
  <ul>
    <li><%= image_tag "html5-white.png" %></li>
    <li><%= image_tag "sass-white.png" %></li>
    <li><%= image_tag "css-white.png" %></li>
    <li><%= image_tag "js-white.png" %></li>
    <li><%= image_tag "ruby-white.png" %></li>
    <li><%= image_tag "mysql-white.png" %></li>
    <li><%= image_tag "react-white.png" %></li>
    <li><%= image_tag "jquery-white.png" %></li>
    <li><%= image_tag "bootstrap.png" %></li>
    <li><%= image_tag "figma.png" %></li>
    <li><%= image_tag "heroku-white.png" %></li>
    <li><%= image_tag "csv-white.png" %></li>
    <li><%= image_tag "xml-white.png" %></li>
    <li><%= image_tag "json-white.png" %></li>
    <li><%= image_tag "linux-white.png" %></li>
    <li><%= image_tag "ubuntu-white.png" %></li>
    <li><%= image_tag "git-white.png" %></li>
    <li><%= image_tag "github-white.png" %></li>
    <li><%= image_tag "developer-white.png" %></li>
    <li><%= image_tag "teamwork-white.png" %></li>
    <li><%= image_tag "communication-white.png" %></li>
    <li><%= image_tag "hotel-white.png" %></li>
  </ul>
  </div>
</div>